In [1]:
print("hii")

hii

In [2]:
import pandas as pd
import numpy as np
import sqlite3
!pip install pymysql sqlalchemy
from sqlalchemy import create_engine
import pycountry
import warnings
warnings.filterwarnings("ignore")

Requirement already satisfied: pymysql in c:\users\dell\anaconda3\lib\site-packages (1.1.1)
Requirement already satisfied: sqlalchemy in c:\users\dell\anaconda3\lib\site-packages (2.0.37)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\dell\anaconda3\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\dell\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)

In [3]:
data = pd.read_csv("netflix data C W project.csv")
df = pd.DataFrame(data)
df.head(5)

,title,type,genres,release_Year,imdbId,IMDB_Rating,IMDB_Votes,Countries
0,Forrest Gump,movie,"Drama, Romance",1994.0,tt0109830,8.8,2316353.0,MX
1,The Fifth Element,movie,"Action, Adventure, Sci-Fi",1997.0,tt0119116,7.6,517121.0,"AT, CH, DE"
2,Kill Bill: Vol. 1,movie,"Action, Crime, Thriller",2003.0,tt0266697,8.2,1221791.0,"AE, AL, AO, AT, AU, AZ, BG, BH, BY, CA, CI, CM..."
3,Jarhead,movie,"Biography, Drama, War",2005.0,tt0418763,7.0,211547.0,"AD, AE, AG, AL, AO, AR, AT, AZ, BA, BB, BG, BH..."
4,Unforgiven,movie,"Drama, Western",1992.0,tt0105695,8.2,443775.0,"AU, BA, BG, CZ, HR, HU, MD, ME, MK, NZ, PL, RO..."

# Data Cleaning & Normalization

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18867 entries, 0 to 18866
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         18867 non-null  object
 1   type          18867 non-null  object
 2   genres        18867 non-null  object
 3   release_Year  18867 non-null  float64
 4   imdbId        18867 non-null  object
 5   IMDB_Rating   18867 non-null  object
 6   IMDB_Votes    18867 non-null  float64
 7   Countries     18867 non-null  object
dtypes: float64(2), object(6)
memory usage: 1.2+ MB

In [5]:
df = df.rename(columns = {'releaseYear':'release_Year','imdbAverageRating':'imdb_Rating','imdbNumVotes':'IMDB_Votes','availableCountries':'Countries'})

In [6]:
df.head(2)

,title,type,genres,release_Year,imdbId,IMDB_Rating,IMDB_Votes,Countries
0,Forrest Gump,movie,"Drama, Romance",1994.0,tt0109830,8.8,2316353.0,MX
1,The Fifth Element,movie,"Action, Adventure, Sci-Fi",1997.0,tt0119116,7.6,517121.0,"AT, CH, DE"

In [7]:
df.isnull().any()

title           False
type            False
genres          False
release_Year    False
imdbId          False
IMDB_Rating     False
IMDB_Votes      False
Countries       False
dtype: bool

In [8]:
df['IMDB_Rating'] = df['IMDB_Rating'].fillna('Not_rated')

In [9]:
df['IMDB_Votes'] = df['IMDB_Votes'].fillna(0)

In [10]:
df = df.dropna(subset=['genres'])

In [11]:
df = df.dropna(subset=['release_Year','imdbId'])

In [12]:
df.isnull().any()

title           False
type            False
genres          False
release_Year    False
imdbId          False
IMDB_Rating     False
IMDB_Votes      False
Countries       False
dtype: bool

#
Missing Values Handled: Missing IMDb ratings were filled with 'Not_rated', and missing vote counts were filled with 0. Key fields like genres, release year, and IMDb ID were cleaned to ensure only valid records remain.

In [13]:
df = df.drop_duplicates()

# 
Duplicates Removed: Duplicate entries, were removed, ensuring uniqueness

In [14]:
df['release_Year'] = df['release_Year'].round().astype(int)

In [15]:
df['IMDB_Votes'] = df['IMDB_Votes'].round().astype(int)

In [16]:
df['IMDB_Rating'] = pd.to_numeric(df['IMDB_Rating'], errors='coerce')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18867 entries, 0 to 18866
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         18867 non-null  object
 1   type          18867 non-null  object
 2   genres        18867 non-null  object
 3   release_Year  18867 non-null  int32
 4   imdbId        18867 non-null  object
 5   IMDB_Rating   18727 non-null  float64
 6   IMDB_Votes    18867 non-null  int32
 7   Countries     18867 non-null  object
dtypes: float64(1), int32(2), object(5)
memory usage: 1.0+ MB

# 
2. IMDb Rating & Votes
IMDb Ratings Converted: Non-numeric ratings were cleaned and cast into numerical format for better analytics.

Vote Normalization: IMDb votes were rounded and cast to integers, allowing meaningful aggregation and comparison.

In [18]:
df.columns = [col.strip().lower().replace(' ', '_') for col in df.columns]
df.head(5)

,title,type,genres,release_year,imdbid,imdb_rating,imdb_votes,countries
0,Forrest Gump,movie,"Drama, Romance",1994,tt0109830,8.8,2316353,MX
1,The Fifth Element,movie,"Action, Adventure, Sci-Fi",1997,tt0119116,7.6,517121,"AT, CH, DE"
2,Kill Bill: Vol. 1,movie,"Action, Crime, Thriller",2003,tt0266697,8.2,1221791,"AE, AL, AO, AT, AU, AZ, BG, BH, BY, CA, CI, CM..."
3,Jarhead,movie,"Biography, Drama, War",2005,tt0418763,7.0,211547,"AD, AE, AG, AL, AO, AR, AT, AZ, BA, BB, BG, BH..."
4,Unforgiven,movie,"Drama, Western",1992,tt0105695,8.2,443775,"AU, BA, BG, CZ, HR, HU, MD, ME, MK, NZ, PL, RO..."

# 
This line standardizes column names by removing extra spaces, converting to lowercase, and replacing spaces with underscores for consistency.

In [19]:
print(df.dtypes)

title            object
type             object
genres           object
release_year      int32
imdbid           object
imdb_rating     float64
imdb_votes        int32
countries        object
dtype: object

In [20]:
def normalize_to_list(c):
    if isinstance(c, str):
        return c.split(', ')
    return c

df['countries'] = df['countries'].apply(normalize_to_list)

def convert_country_codes(code_list):
    names = []
    for code in code_list:
        country = pycountry.countries.get(alpha_2=code.strip())
        names.append(country.name if country else code)
    return ', '.join(names)
df['countries'] = df['countries'].apply(convert_country_codes)

df.head()

,title,type,genres,release_year,imdbid,imdb_rating,imdb_votes,countries
0,Forrest Gump,movie,"Drama, Romance",1994,tt0109830,8.8,2316353,Mexico
1,The Fifth Element,movie,"Action, Adventure, Sci-Fi",1997,tt0119116,7.6,517121,"Austria, Switzerland, Germany"
2,Kill Bill: Vol. 1,movie,"Action, Crime, Thriller",2003,tt0266697,8.2,1221791,"United Arab Emirates, Albania, Angola, Austria..."
3,Jarhead,movie,"Biography, Drama, War",2005,tt0418763,7.0,211547,"Andorra, United Arab Emirates, Antigua and Bar..."
4,Unforgiven,movie,"Drama, Western",1992,tt0105695,8.2,443775,"Australia, Bosnia and Herzegovina, Bulgaria, C..."

# 
Country & Genre Processing
Country Codes Converted: 2-letter country codes were translated into full country names using the pycountry library.

Multi-value Columns Structured: Both genres and countries were normalized into lists, then stringified for SQL storage while preserving multi-value information.

In [21]:
df.dtypes

title            object
type             object
genres           object
release_year      int32
imdbid           object
imdb_rating     float64
imdb_votes        int32
countries        object
dtype: object

In [22]:
df[df['title'].duplicated()==1]
df.drop_duplicates(subset='title', keep='first', inplace=True)

In [23]:
df['type'].value_counts()

type
movie    14351
tv        3879
Name: count, dtype: int64

In [24]:
df['genres'] = df['genres'].apply(lambda x: [genre.strip('') for genre in x.split(',')] if isinstance(x, str) else x)
df = df.dropna(subset=['genres'])
df['countries'] = df['countries'].fillna('').apply(lambda x: [country.strip() for country in x.split(',') if country.strip()])
df.head(10)

,title,type,genres,release_year,imdbid,imdb_rating,imdb_votes,countries
0,Forrest Gump,movie,"[Drama, Romance]",1994,tt0109830,8.8,2316353,[Mexico]
1,The Fifth Element,movie,"[Action, Adventure, Sci-Fi]",1997,tt0119116,7.6,517121,"[Austria, Switzerland, Germany]"
2,Kill Bill: Vol. 1,movie,"[Action, Crime, Thriller]",2003,tt0266697,8.2,1221791,"[United Arab Emirates, Albania, Angola, Austri..."
3,Jarhead,movie,"[Biography, Drama, War]",2005,tt0418763,7.0,211547,"[Andorra, United Arab Emirates, Antigua and Ba..."
4,Unforgiven,movie,"[Drama, Western]",1992,tt0105695,8.2,443775,"[Australia, Bosnia and Herzegovina, Bulgaria, ..."
5,Eternal Sunshine of the Spotless Mind,movie,"[Drama, Romance, Sci-Fi]",2004,tt0338013,8.3,1103711,"[Andorra, United Arab Emirates, Antigua and Ba..."
6,Amores Perros,movie,"[Drama, Thriller]",2000,tt0245712,8.0,256582,"[Antigua and Barbuda, Argentina, Barbados, Ber..."
7,A History of Violence,movie,"[Action, Crime, Drama]",2005,tt0399146,7.4,258997,"[Andorra, Canada, Spain, United Kingdom, Guern..."
8,2001: A Space Odyssey,movie,"[Adventure, Sci-Fi]",1968,tt0062622,8.3,735115,"[Australia, New Zealand]"
9,Talk to Her,movie,"[Drama, Mystery, Romance]",2002,tt0287467,7.9,118711,"[Antigua and Barbuda, Argentina, Barbados, Bol..."

# 
 The code standardizes the 'genres' and 'countries' columns by converting comma-separated strings into clean lists, ensuring consistent data format for analysis.

Rows with missing 'genres' are removed, improving data quality by excluding incomplete entries.

Missing 'countries' data is filled with empty strings before splitting, preventing errors and preserving records with partial information

In [25]:
list_columns = ['genres','countries']
for col in list_columns:
    df[col] = df[col].astype(str)

In [26]:
username = 'root'
password = '998629'
host = 'localhost'
port = 3306
database = 'pronetflix'
engine = create_engine("mysql+pymysql://root:998629@localhost:3306/pronetflix")

In [27]:
df.to_sql('netpro', con=engine, if_exists='replace', index=False)

18230

#
Data Uploaded to MySQL: A clean, processed version of the dataset was pushed into a MySQL database (pronetflix, table: netpro), enabling scalable querying and dashboard integration.

In [28]:
df.head(10)

,title,type,genres,release_year,imdbid,imdb_rating,imdb_votes,countries
0,Forrest Gump,movie,"['Drama', ' Romance']",1994,tt0109830,8.8,2316353,['Mexico']
1,The Fifth Element,movie,"['Action', ' Adventure', ' Sci-Fi']",1997,tt0119116,7.6,517121,"['Austria', 'Switzerland', 'Germany']"
2,Kill Bill: Vol. 1,movie,"['Action', ' Crime', ' Thriller']",2003,tt0266697,8.2,1221791,"['United Arab Emirates', 'Albania', 'Angola', ..."
3,Jarhead,movie,"['Biography', ' Drama', ' War']",2005,tt0418763,7.0,211547,"['Andorra', 'United Arab Emirates', 'Antigua a..."
4,Unforgiven,movie,"['Drama', ' Western']",1992,tt0105695,8.2,443775,"['Australia', 'Bosnia and Herzegovina', 'Bulga..."
5,Eternal Sunshine of the Spotless Mind,movie,"['Drama', ' Romance', ' Sci-Fi']",2004,tt0338013,8.3,1103711,"['Andorra', 'United Arab Emirates', 'Antigua a..."
6,Amores Perros,movie,"['Drama', ' Thriller']",2000,tt0245712,8.0,256582,"['Antigua and Barbuda', 'Argentina', 'Barbados..."
7,A History of Violence,movie,"['Action', ' Crime', ' Drama']",2005,tt0399146,7.4,258997,"['Andorra', 'Canada', 'Spain', 'United Kingdom..."
8,2001: A Space Odyssey,movie,"['Adventure', ' Sci-Fi']",1968,tt0062622,8.3,735115,"['Australia', 'New Zealand']"
9,Talk to Her,movie,"['Drama', ' Mystery', ' Romance']",2002,tt0287467,7.9,118711,"['Antigua and Barbuda', 'Argentina', 'Barbados..."

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18230 entries, 0 to 18866
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         18230 non-null  object
 1   type          18230 non-null  object
 2   genres        18230 non-null  object
 3   release_year  18230 non-null  int32
 4   imdbid        18230 non-null  object
 5   imdb_rating   18109 non-null  float64
 6   imdb_votes    18230 non-null  int32
 7   countries     18230 non-null  object
dtypes: float64(1), int32(2), object(5)
memory usage: 1.1+ MB

In [30]:
df.describe()

       release_year   imdb_rating    imdb_votes
count  18230.000000  18109.000000  1.823000e+04
mean    2012.396270      6.395207  3.223882e+04
std       14.803434      1.090408  1.221469e+05
min     1913.000000      1.200000  0.000000e+00
25%     2010.000000      5.700000  3.280000e+02
50%     2018.000000      6.500000  1.597000e+03
75%     2021.000000      7.100000  1.029275e+04
max     2025.000000      9.600000  2.960051e+06